extends layout-loggedin

block content        
    section#home.bg-light-gray
      .container
        .row
          .col-lg-12.text-center
            h2.section-heading Declaraciones.            
        
