extends layout-auth

block content
    // Portfolio Grid Section
    section#portfolio.bg-light-gray
      .container
        .row
          .col-lg-12.text-justify
            h2.section-heading.text-center ¿Qué especies de cannabis existen?
            br
            p Las hojas y flores de las plantas de cannabis contienen al menos 489 compuestos distintos, distribuidos en 18 clases químicas diferentes, y albergan más de 70 fitocannabinoides diferentes. Los principales cannabinoides parecen ser delta-9-tetrahidrocannabinol (Δ9-THC o simplemente THC), cannabinol (CBN), y cannabidiol (CBD), aunque la abundancia relativa de estos y otros cannabinoides puede variar dependiendo de una serie de factores tales como la variedad de cannabis, las condiciones de suelo y clima, y las técnicas de cultivo. Otros cannabinoides que se encuentran en el cannabis incluyen cannabigerol (CBG), cannabicromeno (CBC), tetrahidrocannabivarina (THCV), entre otros. En la planta viva, estos fitocannabinoides existen en forma de ácidos monocarboxílicos inactivos (ej: THCA) y formas descarboxiladas activas (ej: THC); Sin embargo, la aplicación de calor, promueve la descarboxilación (ej: THCA pasa a THC) lo que resulta en la activación biológica. 
            p El cannabis presenta tres subespecies o variedades principales. Cada una con características morfológicas y psicoactivas diferentes.
            br
      .container
        .row
          .col-lg-12.text-center            
            br
        .row
          .col-lg-6.col-md-4.col-sm-6.portfolio-item
            a.portfolio-link(href='#portfolioModal1', data-toggle='modal')
              .portfolio-hover
                .portfolio-hover-content
                  i.fa.fa-plus.fa-3x
              img.img-responsive(src='img/portfolio/roundicons.png', alt='')
            .portfolio-caption
              h4 Cannabis Sativa SSP. Sativa
          .col-lg-6.col-md-4.col-sm-6.portfolio-item
            a.portfolio-link(href='#portfolioModal2', data-toggle='modal')
              .portfolio-hover
                .portfolio-hover-content
                  i.fa.fa-plus.fa-3x
              img.img-responsive(src='img/portfolio/startup-framework.png', alt='')
            .portfolio-caption
              h4 Cannabis Sativa SSP. Indica​
          .col-lg-6.col-md-4.col-sm-6.portfolio-item
            a.portfolio-link(href='#portfolioModal3', data-toggle='modal')
              .portfolio-hover
                .portfolio-hover-content
                  i.fa.fa-plus.fa-3x
              img.img-responsive(src='img/portfolio/treehouse.png', alt='')
            .portfolio-caption
              h4 Cannabis Sativa SSP. Ruderalis
          .col-lg-6.col-md-4.col-sm-6.portfolio-item
            a.portfolio-link(href='#portfolioModal4', data-toggle='modal')
              .portfolio-hover
                .portfolio-hover-content
                  i.fa.fa-plus.fa-3x
              img.img-responsive(src='img/portfolio/golden.png', alt='')
            .portfolio-caption
              h4 Híbridos
    // Portfolio Modals
    // Use the modals below to showcase details about your portfolio projects!
    // Portfolio Modal 1
    #portfolioModal1.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-dialog
        .modal-content
          .close-modal(data-dismiss='modal')
            .lr
              .rl
          .container
            .row
              .col-lg-8.col-lg-offset-2
                .modal-body.text-justify.text-justify
                  // Project Details Go Here
                  h2 Cannabis Sativa SSP. Sativa
                  p
                    | Esta subespecie se originó en América, Asia y África, y en cada región presenta características diversas, pero se caracterizan en general por ser plantas muy altas, de hojas alargadas, con poco follaje y un periodo de floración mayor a la variedad Indica.  Además de producir mayor cantidad de THC.
                  p
                    strong Su efecto psicoactivo es principalmente cerebral, energético y potente.
                  img.img-responsive.img-centered(src='img/portfolio/roundicons-free.png', alt='')
                  ul.list-inline
                    li Date: July 2014
                    li Client: Round Icons
                    li Category: Graphic Design
                  button.btn.btn-primary(type='button', data-dismiss='modal')
                    i.fa.fa-times
                    |  Volver
    // Portfolio Modal 2
    #portfolioModal2.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-dialog
        .modal-content
          .close-modal(data-dismiss='modal')
            .lr
              .rl
          .container
            .row
              .col-lg-8.col-lg-offset-2
                .modal-body.text-justify
                  h2 Cannabis Sativa SSP. Índica
                  p
                    | Esta subespecie proviene principalmente del sur de Asia y del sub-continente Indio .De ahí su nombre.  A diferencia de la variedad Sativa, estas son plantas compactas con mucho follaje, no ganan mucha altura en el crecimiento y el periodo de floración suele ser corto. Además de producir mayor cantidad de CBD.
                  p
                    strong Su efecto psicoactivo es  corporal, principalmente relajante, tanto mental como físico, puede intensificar sensaciones como el gusto, el tacto y el sonido.
                  img.img-responsive.img-centered(src='img/portfolio/roundicons-free.png', alt='')
                  ul.list-inline
                    li Date: July 2014
                    li Client: Round Icons
                    li Category: Graphic Design
                  button.btn.btn-primary(type='button', data-dismiss='modal')
                    i.fa.fa-times
                    |  Volver
    // Portfolio Modal 3
    #portfolioModal3.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-dialog
        .modal-content
          .close-modal(data-dismiss='modal')
            .lr
              .rl
          .container
            .row
              .col-lg-8.col-lg-offset-2
                .modal-body.text-justify
                  // Project Details Go Here
                  h2 Cannabis Sativa SSP. Rudelaris
                  p
                    | Es una subespecie originaria de Rusia, menos conocida popularmente. Se caracterizan por ser plantas pequeñas, y con un periodo de floración más corto que sus hermanas Indica y Sativa. Además como su periodo de floración no depende de la luz como en las variedades Indica y Sativa, ha sido utilizada para modificar la genética de estas y producir por ejemplo plantas autoflorecientes , suele producir menor cantidades de cannabinoides que la plantas indicas y sativas.
                  p
                    strong
                  img.img-responsive.img-centered(src='img/portfolio/roundicons-free.png', alt='')
                  ul.list-inline
                    li Date: July 2014
                    li Client: Round Icons
                    li Category: Graphic Design
                  button.btn.btn-primary(type='button', data-dismiss='modal')
                    i.fa.fa-times
                    |  Volver
    // Portfolio Modal 4
    #portfolioModal4.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-dialog
        .modal-content
          .close-modal(data-dismiss='modal')
            .lr
              .rl
          .container
            .row
              .col-lg-8.col-lg-offset-2
                .modal-body.text-justify
                  // Project Details Go Here
                  h2 Híbridos
                  p
                    | Son llamados así, las variedades de Cannabis con un componente genético diferente de su original. El largo historial de uso recreativo y medicinal de la marihuana, ha llevado a que muchos cultivadores expertos, crucen diferentes variedades o cepas, buscando características específicas en las plantas como; altos porcentajes de THC o CBD, sabores específicos (limón, mango, etc) o plantas autoflorecientes. Esto ha llevado a que en la actualidad se encuentren disponibles en el mercado miles de cepas distintas a gusto del consumidor.Estos híbridos por lo general son buenas productoras de cogollos con altos porcentajes de cannabinoides y terpenos, además comúnmente sabremos qué porcentaje de Indica o Sativa la componen, con lo cual se podrá elegir una cepa que se ajuste a nuestras necesidades de uso, ya sea médico, recreativo o espiritual.

                  p
                    strong
                  img.img-responsive.img-centered(src='img/portfolio/roundicons-free.png', alt='')
                  ul.list-inline
                    li Date: July 2014
                    li Client: Round Icons
                    li Category: Graphic Design
                  button.btn.btn-primary(type='button', data-dismiss='modal')
                    i.fa.fa-times
                    |  Volver

    
