extends layout-loggedin

block content
    //http://api.fernandopiza.xyz/hora_usuarios
    // Team Section
    section#testimonies.bg-light-gray
      .container.text-center
        .row
          .col-lg-12        
              h1 Histórico de horas                                                   
              br
              br
        .row
          .col-lg-2.hidden
            p.onway PENDIENTE FILTRAT USUARIOS
            form(action='http://localhost:3000/hora_usuarios', method='get')              
              br
              input(type='text', name='username', placeholder='Nombre de usuario', required='')
              br                                                 
              br
              input.btn.btn-primary(type='submit', value='Buscar horas de usuario')
              p
                a(href='/', class='text-center') Volver
                span.clearfix
        .row
          .col-lg-12
            table#history.display.text-center(width='100%', cellspacing='0')
              thead
                tr
                  th Nombre de socio                  
                  th Fecha de atención     
                  th Hora           
                  th Membresía                     
              tbody                        
                - for (var y = 0; y < Object.keys(indexHoras).length; y++) 
                  - console.log(indexHoras[i]);
                  tr
                  - for (var x = 0; x < 1; x++)
                    td= indexHoras[y].usuario.nombre                  
                  - for (var x = 0; x < 1; x++)                
                    td= indexHoras[y].fecha                                    
                  - for (var x = 0; x < 1; x++)
                    td= indexHoras[y].hora                  
                  - for (var x = 0; x < 1; x++)
                    td= indexHoras[y].membresia          
                //fecha, hora_medica_id,usuario_id,membresia_id
          
    footer
      .container
        .row
          .col-md-4
            p.copyright DM FASIMC - © 2017 Copy Left. Debes tener al menos 18 años para usar este sitio.
          .col-md-4
            ul.list-inline.social-buttons
              li
                a(href='#')
                  i.fa.fa-twitter
              li
                a(href='https://www.facebook.com/FASIMC/?ref=br_rs')
                  i.fa.fa-facebook
              li
                a(href='#')
                  i.fa.fa-linkedin
          .col-md-4
            span
              | DIRECCION: CATEDRAL 1009 OF 601
              br
              |  ATENCION: 10:00 A 18:00 HRS
              |                                   TEL: +56999467416
              br
              |  Correo: DM@FASIMC.ORG
              |                                   A PASOS DEL METRO PLAZA DE ARMAS
              
    // Bootstrap Core JavaScript
    script(src='vendor/bootstrap/js/bootstrap.min.js')
    // jQuery
    script(src='vendor/jquery/jquery.min.js')
    // Plugin JavaScript
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js', integrity='sha384-mE6eXfrb8jxl0rzJDBRanYqgBxtJ6Unn4/1F7q4xRRyIw7Vdg9jP4ycT7x1iVsgb', crossorigin='anonymous')
    // Contact Form JavaScript
    script(src='javascripts/jqBootstrapValidation.js')
    script(src='javascripts/contact_me.js')
    // Theme JavaScript
    script(src='javascripts/agency.js')
    script(src='https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js')
    script(type='text/javascript').
      $(document).ready(function(){
      $('#history').DataTable();
      });
    
