extends layout

block content    
    // Header
    header
      br
      br
      br
      br
      br
        
      .container
        .row
          .col-lg-12.text-center
            img.img-responsive.img-rcorners.quarter-size.image-rotation(src='img/acci2.png', alt='LOGO')
          .col-lg-12.col-xs-7.text-center
            img.img-responsive.img-rcorners.octave-size(src='img/acci-text.png', alt='ACCI')    
      
        a.page-scroll.btn.btn-xl(href='#aboutus') Conocer más!
        
        br
        br
        br
        br
    // Team Section
    section#aboutus
      .container
        .row
          .col-lg-12.text-center
            h2.section-heading ¿Quienes Somos?            
            h1.onway EN CONSTRUCCIÓN
    // END Team Section
    // Services Section
    section#cannabis.bg-descripcion.contrast
      .container
        .row
          .col-lg-12.text-justify
            h2.section-heading.text-center DESCRIPCIÓN GENERAL DE LA PLANTA DE CANNABIS
          .col-lg-12.text-justify.bigText
            p La planta del Cannabis (Cannabis sativa), popularmente conocida como Marihuana, es un vegetal perteneciente a la familia de las Cannabaceae con propiedades medicinales y psicoactivas.
            p Es una planta proveniente de Asia que ha sido utilizada históricamente por los seres humanos como medicamento, fuente de alimento, hierba espiritual y para manufactura de productos como textiles, combustible, papel, etc. Los primeros registros escritos que se tienen sobre su uso medicinal datan del año 2737 A.C.
            p El cannabis es una planta dioica, es decir, existen individuos macho con órganos reproductivos masculinos (flores masculinas), y por otro lado, individuos hembra órganos reproductivos femeninos (Flores femeninas).
            p Los cogollos o flores de la planta femenina, que son utilizados por su gran cantidad de componentes psicoactivos y medicinales, denominados cannabinoides, estos son producidos de manera natural por la planta, principalmente por las hembras, en los tricomas glandulares de la planta, los cuales son los encargados de sintetizar y acumular estos químicos.
            p Las hojas y flores de las plantas de cannabis contienen al menos 489 compuestos distintos, distribuidos en 18 clases químicas diferentes, y albergan más de 70 fitocannabinoides diferentes. Los principales cannabinoides parecen ser delta-9-tetrahidrocannabinol (Δ9-THC o simplemente THC), cannabinol (CBN), y cannabidiol (CBD), aunque la abundancia relativa de estos y otros cannabinoides puede variar dependiendo de una serie de factores tales como la variedad de cannabis, las condiciones de suelo y clima, y las técnicas de cultivo. Otros cannabinoides que se encuentran en el cannabis incluyen cannabigerol (CBG), cannabicromeno (CBC), tetrahidrocannabivarina (THCV), entre otros. En la planta viva, estos fitocannabinoides existen en forma de ácidos monocarboxílicos inactivos (ej: THCA) y formas descarboxiladas activas (ej: THC); Sin embargo, la aplicación de calor, promueve la descarboxilación (ej: THCA pasa a THC) lo que resulta en la activación biológica.
            br
            //img.img-responsive.img-rcorners(src='img/descripcion.jpg', alt='tricomas')
            //p.text-center Tricomas glandulares de la planta
            br
            p Las hojas y flores de las plantas de cannabis contienen al menos 489 compuestos distintos, distribuidos en 18 clases químicas diferentes, y albergan más de 70 fitocannabinoides diferentes. Los principales cannabinoides parecen ser delta-9-tetrahidrocannabinol (Δ9-THC o simplemente THC), cannabinol (CBN), y cannabidiol (CBD), aunque la abundancia relativa de estos y otros cannabinoides puede variar dependiendo de una serie de factores tales como la variedad de cannabis, las condiciones de suelo y clima, y las técnicas de cultivo. Otros cannabinoides que se encuentran en el cannabis incluyen cannabigerol (CBG), cannabicromeno (CBC), tetrahidrocannabivarina (THCV), entre otros. En la planta viva, estos fitocannabinoides existen en forma de ácidos monocarboxílicos inactivos (ej: THCA) y formas descarboxiladas activas (ej: THC); Sin embargo, la aplicación de calor, promueve la descarboxilación (ej: THCA pasa a THC) lo que resulta en la activación biológica. 
            p El cannabis presenta tres subespecies o variedades principales. Cada una con características morfológicas y psicoactivas diferentes.
            br
            //Cannabis
          .col-lg-3.portfolio-item.text-center
            a.portfolio-link(href='#indexmodal1', data-toggle='modal').button.btn.btn-primary(type='submit') Cannabis Sativa SSP. Sativa
          .col-lg-3.portfolio-item.text-center
            a.portfolio-link(href='#indexmodal2', data-toggle='modal').button.btn.btn-primary(type='submit') Cannabis Sativa SSP. Indica
          .col-lg-3.portfolio-item.text-center
            a.portfolio-link(href='#indexmodal3', data-toggle='modal').button.btn.btn-primary(type='submit') Cannabis Sativa SSP. Rudelaris
          .col-lg-3.portfolio-item.text-center
            a.portfolio-link(href='#indexmodal4', data-toggle='modal').button.btn.btn-primary(type='submit') Cannabis Híbridos       
    //End navbar theme
    //Cannabinoides
    section#cannabinoides.bg-light-gray
      .container
        .row
          .col-lg-12.text-justify
            h2.section-heading.text-center ¿Qué son los cannabinoides?
            br         
          .col-lg-12.portfolio-item.text-center
            //img.img-responsive.img-rcorners.half-size(src='img/index/cannabinoides.jpg', alt='cannabinoides')
            br
            p Los cannabinoides son sustancias químicas orgánicas, capaces de activar los receptores cannabinoides presentes en el cuerpo y cerebro de animales. Se trata de un grupo de sustancias muy amplio y diverso, pero con una estructura química similar, caracterizada por ser carbocíclica y formada por 21 átomos de carbono. 
            p Actualmente, se reconocen tres tipos generales de cannabinoides: los fitocannabinoides sintetizados naturalmente por la planta de cannabis; los cannabinoides endógenos, producidos por los organismos animales; y los cannabinoides sintéticos, compuestos similares creados en laboratorio.
            br
          .col-lg-6.portfolio-item.text-center
            a.portfolio-link(href='#indexmodalfito', data-toggle='modal').button.btn.btn-primary(type='submit') Ver Fitocannabinoides                      
          .col-lg-6.portfolio-item.text-center
            a.portfolio-link(href='#indexmodalendocann', data-toggle='modal').button.btn.btn-primary(type='submit') Ver Endocannabinoides
            br
            br
          .col-lg-12.portfolio-item.text-center
            h3.text-center Fitocannabinoides. 
            br
            p Hacen referencia a los cannabinoides producidos naturalmente por la planta Cannabis sativa. Hasta la actualida se han identificado cerca de 70 fitocannabinoides, incluidas sus formas ácidas y neutras, análogos y otros productos de transformación. 
            p Los principales cannabinoides son delta-9-tetrahidrocannabinol (es decir Δ9-THC o THC), cannabinol (CBN), y cannabidiol (CBD). Otros cannabinoides que se encuentran en el cannabis incluyen cannabigerol (CBG), cannabicromeno (CBC), tetrahidrocannabivarina (THCV) y muchos otros más.                
        br
        .row
          .col-lg-12.portfolio-item.text-center
            h3.text-center ENDOCANNABINOIDES
            br
            p.text-justify Los endocannabinoides son ácidos grasos poliinsaturados derivados de fosfolípidos de membrana, específicamente del ácido araquidónico. Los dos endocannabinoides principales son la anandamida (AEA) y el 2-araquinodilglicerol (2-AG).
            br                             
    // Team Section
    //sist-endo
    section#sist-endo.bg-endo.contrast
      .container
        .row
          .col-lg-12.text-justify            
            h2.section-heading.text-center ¿Que es el Sistema endocannabinoide?
            //img.img-responsive.img-rcorners.half-size(src='img/index/sistEndo.png', alt='sistema endocannabinoide')
            br
            p Es un complejo sistema que involucra a diversos ligandos endógenos (endocannabinoides) y sus receptores específicos (CB1 y CB2). Y que modula diversas funciones fisiológicas de nuestro organismo, que incluyen la percepción del dolor, la inflamación, la toxicidad y el traumatismo neuronal, el aprendizaje y la memoria, el control de las emociones, el control del humor, gestión del estrés, el apetito, la ingesta de alimentos, la homeostasis energética, así como en la mediación de diferentes procesos a nivel neuronal, cardiovascular, digestivo, reproductivo e inmunológico. Es tal vez, uno de los sistemas más importante relacionado a la regulación y mantenimiento de la homeostasis de nuestro cuerpo, sosteniendo una condición interna estable a pesar de las fluctuaciones externas. 
            br
          .col-lg-12.text-center            
            button.btn.btn-primary(type='submit').a.portfolio-link(href='#indexmodalendo', data-toggle='modal') Ver más detalles  
    //end sist-endo
    //terpenos
    section#terpenos.bg-light-gray.bg-terp.contrast
      .container
        .row
          .col-lg-12.text-justify
            h2.section-heading.text-center Otros componentes del cannabis: Terpenos
            //img.img-responsive.img-rcorners.half-size(src='img/index/terpenos.png', alt='terpenos')
            br
            p Los terpenos son una diversa clase de compuestos orgánicos aromáticos, son el principal constituyente de los aceites esenciales de algunas plantas y flores, dan también el olor y sabor a las plantas de Cannabis sativa.
            p Los terpenos de las plantas son extensamente usados por sus cualidades aromáticas y terapéuticas. Juegan un rol importante en la medicina tradicional y en los remedios herbolarios, y actualmente se están investigando sus  efectos antibióticos y otros usos farmacéuticos.
            p En la planta Cannabis sativa es posible encontrar entre 100 a 130 terpenos dependiendo de la variedad. Trabajando en conjunto con los cannabinoides aumentan los efectos medicinales del cannabis.
            p La planta produce cannabinoides a través de una complicada serie de reacciones químicas en las que se cree que están implicados los terpenos como “elemento constitutivo”. Los cannabinoides son conocidos como compuestos terpenofenólicos, ya que se componen de bloques de terpeno unidos a grupos de fenol; como los terpenos son los precursores de los cannabinoides, una gran cantidad de terpenos es generalmente signo de altos niveles de cannabinoides.
            br            
          .col-lg-12.text-center
            a.portfolio-link(href='#indexmodalterpenos', data-toggle='modal').button.btn.btn-primary(type='submit') Ver más detalles                      
    //end terpenos
    //Medical
    section#medical.bg-medc.contrast
      .container
        .row
          .col-lg-12.text-justify
            h2.section-heading.text-center Cannabis Medicinal
            //img.img-responsive.img-rcorners.half-size(src='img/index/medicinal.png', alt='medicinal')
            br
            h3.text-center Efectos generales
            br
            p Los efectos medicinales y/o farmacológicos comprobados del cannabis son variados y diversos, y dependen básicamente del contenido y tipo de cannabinoides y terpenos presentes en la planta. Así como de la dosis consumida. 
            p Pero, de forma general y resumida, el uso de cannabis y por tanto la activación de los receptores cannabinoides dará como respuesta los siguientes efectos: 
            br
            ul
              li Sensación de euforia, relajación y sedación. 
              li Alteraciones de la percepción temporal (sobreestimación del tiempo transcurrido y de la memoria reciente). 
              li Actividad analgésica y antiinflamatoria. 
              li Actividad orexígena (estimulante del apetito) y antiemética (reducción de náuseas y vómitos.) 
              li Acciones sobre el tono muscular y la coordinación motora (ataxia, debilidad muscular). 
              li Disminución de la presión intraocular. 
              li Hipotermia. 
              li Efectos cardiovasculares (hipotensión y taquicardia). 
              li Efectos neuroendocrínos (disminución en la liberación de distintas hormonas sexuales, e incrementos en la liberación de hormonas relacionadas con la respuesta al estrés). 
              li Efectos inmunomoduladores (inmunoestimulación a dosis bajas e inmunsosupresión a dosis altas). 
              li Efectos antiproliferativos (impide el crecimiento de algunos tumores). 
              li Enfermedades y otras patologías. 
            br
            p Como las propiedades medicinales de la planta Cannabis son tan diversas, a continuación dejamos una lista de enfermedades y otras patologías en las que el cannabis y los cannabinoides están recomendados como tratamiento potencial o se ha visto que tienen algún tipo de efecto beneficioso. Esto quiere decir que, hasta el día de hoy no existen investigaciones concluyentes sobre el beneficio de su uso como tratamiento, pero si existen diversas investigaciones que demuestran su potencial como terapia. Por tanto, es importante dejar en claro que falta aún investigación científica para poder concluir que el cannabis cura enfermedades, por lo que su uso está sujeto a la libre elección de quien quiera probar esta terapia. 
            br
          .col-lg-12.text-center
            a.portfolio-link(href='#indexmodalmedicinal', data-toggle='modal').button.btn.btn-primary(type='submit') Ver más detalles                                  
    // END Team Section
    // Asociados
    section#legal.bg-light-gray.bg-law
      .container
        .row
          .col-lg-12.col-md-3.col-sm-6
            h2.section-heading.text-center Cannabis Legal
            //img.img-responsive.img-rcorners.half-size(src='img/index/legal.png', alt='legal')
            br
            h3.text-center Fundamento Legal ACCI
            br
            p ACCI se fundamenta y ampara en la siguiente normativa legal y jurisprudencia:
            p En cuanto a su personalidad jurídica, ACCI (Asociación cultural del cannabis integral) es una asociación de Derecho Privado sin fines de lucro, y por tanto se encuentra regida en cuanto a su funcionamiento y administración por su Estatuto, por las normas del Título XXXIII del Libro Artículo primero de la Constitución Política de la República: 
            p Señala que las personas nacen libres e iguales en dignidad y derechos, reconoce y ampara los grupos intermedios a través de los cuales la sociedad se organiza y estructura para conseguir fines específicos, garantizando su adecuada autonomía, y señala que el Estado está al servicio de la persona humana y que su finalidad es promover el bien común, para lo cual debe contribuir a crear las condiciones sociales que permitan a todos y a cada uno de los integrantes de la comunidad nacional su mayor realización espiritual y material posible, con pleno respeto a los derechos y garantías constitucionales.            
            strong Artículo 19 N° 15 de la Constitución Política de la República: 
            p La constitución asegura a todas las personas el derecho de asociarse sin permiso previo y señala además que para gozar de personalidad jurídica, las asociaciones deberán constituirse en conformidad a la ley.
            strong Artículo 8 de la Ley 20.000: 
            p Dispone que la siembra, cultivo y cosecha de plantas de cannabis destinados al consumo personal exclusivo y próximo en el tiempo no constituye delito.
            strong Artículo 50 de la Ley 20.000: 
            p Señala que se entenderá justificado el uso, consumo, porte o tenencia de cannabis para la atención de un tratamiento médico.
            strong Carta de las Naciones Unidas:
            p Impone a los Estados la obligación de promover el respeto universal y efectivo de los derechos y libertades humanos.
            strong Pacto de Derechos económicos, sociales y culturales, suscrito por chile el 16 de Septiembre de 1989: 
            p Esta norma de derecho internacional, que se integra a nuestro ordenamiento jurídico en virtud de lo dispuesto en el artículo 5 inciso segundo de la Constitución Política de la República, reconoce que “con arreglo a la Declaración Universal de Derechos Humanos, no puede realizarse el ideal del ser humano libre, liberado del temor y de la miseria, a menos que se creen condiciones que permitan a cada persona gozar de sus derechos económicos, sociales y culturales, tanto como de sus derechos civiles y políticos”.
            p El artículo 12 del Pacto señala que “Los Estados Partes en el presente Pacto reconocen el derecho de toda persona al disfrute del más alto nivel posible de salud física y mental.”
    // Contact Section
    //section#contact
      .container
        .row
          .col-lg-12.text-center
            h2.section-heading Contacto            
        .row
          .col-lg-12
            form#contactForm(name='sentMessage', novalidate='')
              .row
                .col-md-6
                  .form-group
                    input#name.form-control(type='text', placeholder='Nombre *', required='', data-validation-required-message='Por favor indique su nombre.')
                    p.help-block.text-danger
                  .form-group
                    input#email.form-control(type='email', placeholder='Email *', required='', data-validation-required-message='Por favor indique dirección de correo electrónico.')
                    p.help-block.text-danger
                  .form-group
                    input#phone.form-control(type='tel', placeholder='Teléfono *', required='', data-validation-required-message='Porfavor indique número de contacto.')
                    p.help-block.text-danger
                .col-md-6
                  .form-group
                    textarea#message.form-control(placeholder='Mensaje *', required='', data-validation-required-message='Por favor indique su requerimiento.')
                    p.help-block.text-danger
                .clearfix
                .col-lg-12.text-center
                  #success
                  button.btn.btn-xl(type='submit') Enviar mensaje
    footer#contact
      .container
        .row
          .col-md-4
            p.copyright
              | #{title} - © 2017 Copy Left. Debes tener al menos 18 años para usar este sitio.
          .col-md-4
            ul.list-inline.social-buttons              
              li
                a(href='https://www.facebook.com/FASIMC/?ref=br_rs')
                  i.fa.fa-facebook              
          .col-md-4
            span
              | Dirección: Catedral 1009 OF 601
              br
              |  Horarios: Mar y Jue  10:00 A 18:00 HRS
              br
              |                       TEL: +56999467416
              br
              |  Correo: contacto@acci-chile.org
              br
              |                       A pasos del metro Plaza de Armas!
    
    #indexmodal1.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-dialog
        .modal-content
          .close-modal(data-dismiss='modal')
            .lr
              .rl
          .container
            .row
              .col-lg-8.col-lg-offset-2
                .modal-body.text-justify.text-justify
                  // Project Details Go Here
                  h2 Cannabis Sativa SSP. Sativa
                  p
                    | Esta subespecie se originó en América, Asia y África, y en cada región presenta características diversas, pero se caracterizan en general por ser plantas muy altas, de hojas alargadas, con poco follaje y un periodo de floración mayor a la variedad Indica.  Además de producir mayor cantidad de THC.
                  p
                    strong Su efecto psicoactivo es principalmente cerebral, energético y potente.
                  img.img-responsive.img-rcorners(src='img/descripcion.jpg', alt='sativa')
                  button.btn.btn-primary(type='button', data-dismiss='modal')
                    i.fa.fa-times
                    |  Volver
    #indexmodal2.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-dialog
        .modal-content
          .close-modal(data-dismiss='modal')
            .lr
              .rl
          .container
            .row
              .col-lg-8.col-lg-offset-2
                .modal-body.text-justify.text-justify
                  // Project Details Go Here
                  h2 Cannabis Sativa SSP. Índica
                  p
                    | Esta subespecie proviene principalmente del sur de Asia y del sub-continente Indio .De ahí su nombre.  A diferencia de la variedad Sativa, estas son plantas compactas con mucho follaje, no ganan mucha altura en el crecimiento y el periodo de floración suele ser corto. Además de producir mayor cantidad de CBD.
                  p
                    strong Su efecto psicoactivo es  corporal, principalmente relajante, tanto mental como físico, puede intensificar sensaciones como el gusto, el tacto y el sonido.
                  img.img-responsive.img-rcorners(src='img/descripcion.jpg', alt='indica')
                  button.btn.btn-primary(type='button', data-dismiss='modal')
                    i.fa.fa-times
                    |  Volver
    #indexmodal3.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-dialog
        .modal-content
          .close-modal(data-dismiss='modal')
            .lr
              .rl
          .container
            .row
              .col-lg-8.col-lg-offset-2
                .modal-body.text-justify.text-justify
                  // Project Details Go Here
                  h2 Cannabis Sativa SSP. Rudelaris
                  p
                    | Es una subespecie originaria de Rusia, menos conocida popularmente. Se caracterizan por ser plantas pequeñas, y con un periodo de floración más corto que sus hermanas Indica y Sativa. Además como su periodo de floración no depende de la luz como en las variedades Indica y Sativa, ha sido utilizada para modificar la genética de estas y producir por ejemplo plantas autoflorecientes , suele producir menor cantidades de cannabinoides que la plantas indicas y sativas.
                  p
                    strong
                  img.img-responsive.img-rcorners(src='img/descripcion.jpg', alt='rudelaris')
                  button.btn.btn-primary(type='button', data-dismiss='modal')
                    i.fa.fa-times
                    |  Volver
    #indexmodal4.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-dialog
        .modal-content
          .close-modal(data-dismiss='modal')
            .lr
              .rl
          .container
            .row
              .col-lg-8.col-lg-offset-2
                .modal-body.text-justify.text-justify
                  // Project Details Go Here
                  h2 Híbridos
                  p
                    | Son llamados así, las variedades de Cannabis con un componente genético diferente de su original. El largo historial de uso recreativo y medicinal de la marihuana, ha llevado a que muchos cultivadores expertos, crucen diferentes variedades o cepas, buscando características específicas en las plantas como; altos porcentajes de THC o CBD, sabores específicos (limón, mango, etc) o plantas autoflorecientes. Esto ha llevado a que en la actualidad se encuentren disponibles en el mercado miles de cepas distintas a gusto del consumidor.Estos híbridos por lo general son buenas productoras de cogollos con altos porcentajes de cannabinoides y terpenos, además comúnmente sabremos qué porcentaje de Indica o Sativa la componen, con lo cual se podrá elegir una cepa que se ajuste a nuestras necesidades de uso, ya sea médico, recreativo o espiritual.
                  p
                    strong
                  img.img-responsive.img-rcorners(src='img/descripcion.jpg', alt='hibridos')
                  button.btn.btn-primary(type='button', data-dismiss='modal')
                    i.fa.fa-times
                    |  Volver
    #indexmodalfito.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-dialog
        .modal-content
          .close-modal(data-dismiss='modal')
            .lr
              .rl
          .container
            .row
              .col-lg-8.col-lg-offset-2
                .modal-body.text-justify.text-justify
                  // Project Details Go Here
                  h2 THC
                  p
                    | El tetrahidrocannabinol o Δ9-THC es el canabinoide más abundante en la planta de cannabis, es entre todos los cannabinoides, el mejor estudiado y es responsable de muchos de efectos físicos y psicoactivos del cannabis. Es el principal cannabinoide involucrado en producir el “estado de volades”. Además tiene múltiples efectos medicinales comprobados. 
                    Es un muy buen estimulante del apetito y reduce las náuseas y vómitos, por estos dos motivos es muy utilizado en pacientes con cáncer en tratamiento con quimioterapia. Además posee propiedades analgésicas moderadas que en sinergia con el CBD potencian su efecto contra el dolor, también es antiinflamatorio. Otros efectos incluyen relajación, alteración de los sentidos visuales, auditivos, y olfativos. También el THC, como otros cannabinoides que contienen un grupo fenol poseen una actividad antioxidante leve suficiente para proteger a las neuronas contra el estrés oxidativo, por tanto es neuroprotector, incluso se ha demostrado que estimula la neurogénesis, es decir la creación de nuevas neuronas. En ensayos también se ha probado su utilidad en mitigar espasmos y temblores. Además está comprobado que posee un fuerte efecto broncodiladador.
                  img.img-responsive.img-rcorners(src='img/cannabinoides/thc.png', alt='thc')
                  strong.text-center Molécula de delta-9-tetrahidrocannabinol.
                  br
                  p
                    | El THC es un agonista (es decir, un activador) de los receptores cannabinoides CB1, presentes principalmente en el cerebro por lo que sus mayores efectos son sobre las funciones que desarrolla este órgano. Su efecto es marcadamente cerebral/mental aumentando las funciones sensoriales como la visión, el oído, la sensibilidad a los colores, también aumenta la excitación sexual de hombres y mujeres, asimismo modifica la percepción espacio/tiempo. Produce un sentimiento de euforia potente, un bienestar mental y afina la mente favoreciendo la curiosidad y la creatividad. 
                    En general, se tiene la convicción de que la intoxicación aguda de cannabis o su uso crónico produce alteraciones de la memoria episódica a corto plazo . Además niveles demasiados elevados de THC pueden provocar los siguientes efectos secundarios: desorientación espacio-temporal, taquicardia, nervosidad, ansiedad, paranoia. Por esta razón, las personas con predisposiciones a la esquizofrenia, a la bipolaridad o a la ansiedad deberían evitar consumir variedades de marihuana con niveles elevados de THC. Estos efectos secundarios son, en general, limitados por la presencia de otros cannabinoides como el CBD o el CBN.                  
                  h2 CBD
                  p
                    | El Cannabidiol es otro de los cannabinoides importantes presentes en la planta cannabis sativa, ha ganado importancia en los últimos años debido a que no produce efecto psicoactivo y tiene múltiples beneficios medicinales.                                       
                  img.img-responsive.img-rcorners(src='img/cannabinoides/cbd.png', alt='thc')
                  strong.text-center Molécula de Cannabidiol.
                  p
                    | El CBD se encuentra en menor proporción que el THC en la mayoría de las cepas de cannabis. El CBD y el THC actúan simbióticamente, potenciando sus propiedades medicinales y disminuyendo los efectos psicoactivos del THC. 
                    Entre los efectos medicinales del CBD el más importante a destacar es la capacidad de inducir la muerte de células cancerígenas, por medio de vías proteicas. Sin afectar a las células sanas de nuestro cuerpo. Actualmente muchos investigadores se encuentran estudiando el CBD como anticancerígeno y se ha descubierto que es muy efectivo en cáncer de mama, colon y algunos tipo de cáncer de cerebro. Además está muy comprobado que reduce las convulsiones en personas afectadas por epilepsia. También ayuda a controlar los desórdenes psicóticos, depresión y ansiedad, además de proporcionar efectos neuroprotectores, tiene efecto antiinflamatorio, analgésico y ayuda a controlar náuseas y vómitos. 
                    El cannabidiol tiene una gran afinidad por el receptor de CB2, por el contrario por el CB1 no tanta.                                    
                  h2 CBN
                  p
                    | El cannabinol, podría ser denominado como el tercer cannabinoide más conocido de la marihuana, es psicoactivo al igual que el THC, y contribuye con aproximadamente el  10% de las propiedades psicoactivas de la planta. Cuando el THC y CBN están presentes en niveles altos, el CBN parece reducir  la paranoia y la ansiedad asociada a menudo con el consumo de cannabis.
                  p 
                    | En cuanto a sus propiedades medicinales se ha demostrado que el CBN ayuda a la función inmunológica celular, además de mostrar algún efecto antiemético y anticonvulsivo, aunque las dos últimas propiedades son mucho más débiles que las que se encuentran en el THC y CBD. Se ha demostrado que mejora los síntomas de la fibromialgia, el dolor crónico, la enfermedad de Parkinson y la esclerosis múltiple, entre muchos otros. También es eficaz contra las enfermedades inflamatorias del intestino, en particular contra la colitis ulcerosa.
                  p 
                    | El THC se transforma en CBN, por acción del aire, tiempo y rayos UV, es decir, es un producto de degradación del THC. Esperar un poco más de tiempo cuando se cosechen las plantas producirá entonces cogollos con un mayor contenido de CBN, cuando los tricomas se han vuelto de un color más ámbar en lugar del habitual blanco/claro. También se sabe que las flores o cogollos que están expuestas a más aire durante el proceso de secado/curado tienen niveles más altos de CBN.
                  p 
                    | La afinidad es superior en el caso del receptor CB2 y baja en el CB1.
                  img.img-responsive.img-centered.img-rcorners(src='img/cannabinoides/cbn.png', alt='CBN', width='50%', height="50%")
                  strong.text-center Molécula de Cannabinol.
                  br        
                  br                        
                  button.btn.btn-primary(type='button', data-dismiss='modal')
                    i.fa.fa-times
                    |  Volver
    #indexmodalendocann.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-dialog
        .modal-content
          .close-modal(data-dismiss='modal')
            .lr
              .rl
          .container
            .row
              .col-lg-8.col-lg-offset-2
                .modal-body.text-justify.text-justify
                  // Project Details Go Here
                  h2 AEA                  
                  p
                    | La anandamida también es conocida como araquidonoiletanolamida o AEA, es un análogo endógeno del THC. La anandamida afecta tanto a los receptores CB1 como CB2.
                  p 
                    | Forma parte de la clase de los eicosanoides, un grupo de lípidos derivados del ácido araquidónico y de otros ácidos grasos esenciales (AGE).
                  p 
                    | Debido a su vida media relativamente corta y a su alta solubilidad en lípidos, la anandamida se considera una molécula “frágil” y sus efectos son pasajeros (a diferencia del THC, que puede permanecer en los tejidos grasos varias semanas).
                  p 
                    |  Tiene un papel importante en la regulación del apetito, el placer y la recompensa, y unos niveles elevados de ésta pueden aumentar el placer experimentado al consumir alimentos. La anandamida también puede influir en parte en el tratamiento del dolor y los patrones de sueño.
                  img.img-responsive.img-centered.img-rcorners(src='img/cannabinoides/anandamida.png', alt='AEA', width='50%', height="50%")
                  p.text-center 
                    | Molécula de Anandamida.                                            
                  h2 2-AG
                  p 
                    | Es el endocannabinoide más abundante en el cuerpo y, igual que la anandamida, se cree que tiene un papel importante en la regulación del apetito, las funciones del sistema inmunológico y el tratamiento del dolor. También se cree que el 2-AG podría influir en la inhibición de la proliferación de células cancerosas.
                  img.img-responsive.img-centered.img-rcorners(src='img/cannabinoides/2-AG.png', alt='2-AG', width='50%', height="50%")
                  p.text-center 
                    | Molécula de 2-araquidonilglicerol. 
                  button.btn.btn-primary(type='button', data-dismiss='modal')
                    i.fa.fa-times
                    |  Volver    
    #indexmodalendo.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-dialog
        .modal-content
          .close-modal(data-dismiss='modal')
            .lr
              .rl
          .container
            .row
              .col-lg-8.col-lg-offset-2
                .modal-body.text-justify.text-justify
                  // Project Details Go Here
                  h2.text-center Sistema Endocannabinoide
                  p Para que este sistema funcione, es necesario que los receptores sean activados por los cannabinoides, de manera muy similar a una llave y su cerradura, siendo la llave el cannabinoide y el receptor la cerradura. Su activación produce una serie de cambios dentro de las células que resultan en las acciones finales del sistema endocannabinoide sobre los procesos fisiológicos del cuerpo.
                  img.img-responsive.img-centered.img-rcorners(src='img/sistEndo/sistendo.png', alt='Sistema endocannabinoide', width='30%' height="30%")
                  p.text-center Sistema Endocannabinoide.
                  br
                  h3.text-center Receptores cannabinoides. 
                  br
                  p Estos receptores son específicos de membrana, es decir, específicos para este tipo de sustancia y se encuentran en la membrana celular, son de naturaleza protéica y pertenecen a la familia de receptores acoplados a proteínas G. Los dos principales receptores que conforman el sistema son los receptores CB1 y CB2, Ambos son proteínas transmembrana capaces de captar una señal extracelular y transmitirla al interior de la célula, para producir el cambio necesario y modular las funciones fisiológicas. 
                  p Los endocannabinoides y sus receptores se encuentran en todo el cuerpo: en el cerebro, los órganos, los tejidos conectivos, glándulas y células inmunes. Los receptores CB1 son los receptores metabotrópicos que se encuentran con mayor abundancia en el cerebro y su distribución ha sido muy caracterizada en humanos. Se expresan de forma elevada en el hipocampo, los ganglios basales, el córtex y el cerebelo pero también en varios órganos periféricos como hígado y pulmones. La distribución de los receptores CB2 es bastante distinta y se encuentra principalmente en las células del sistema inmunitario, también hay presencia de este receptor en fibras nerviosas de la piel, en células óseas, hepáticas y del páncreas. También se ha demostrado la presencia de receptores CB2 en el sistema nervioso central, en astrocitos, células microgliales y neuronas del tallo cerebral.
                  h3.text-center Distribución receptores CB1 y CB2. 
                  br
                  p Estos receptores son los que también se activan por acción de los cannabinoides presentes en la planta Cannabis sativa (fitocannabinoides), produciendo los efectos psicoactivos y de regulación fisiológica con potencial médico, que se dan tras el uso de marihuana.
                  img.img-responsive.img-centered.img-rcorners(src='img/sistEndo/distribucion.png', alt='Distribución', width='50%' height="50%")
                  p.text-center Sistema Endocannabinoide.   
                  button.btn.btn-primary(type='button', data-dismiss='modal')
                    i.fa.fa-times
                    |  Volver        
    #indexmodalterpenos.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-dialog
        .modal-content
          .close-modal(data-dismiss='modal')
            .lr
              .rl
          .container
            .row
              .col-lg-8.col-lg-offset-2
                .modal-body.text-justify.text-justify
                  // Project Details Go Here
                  h2.text-center Terpenos
                  h4.text-center MIRCENO
                  p El mirceno actúa como anti-inflamatorio interfiriendo en la vía de señalización inflamatoria de las prostaglandinas.
                  p Su propiedad sedante están muy demostradas en modelos de laboratorio, con efectos hipnóticos, analgésicos y de relajante muscular. Se ha demostrado también que el mirceno altera la barrera hematoencefálica, favoreciendo la entrada al cerebro de los cannabinoides y produciendo un aumento en los efectos.
                  img.img-responsive.img-centered.img-rcorners(src='img/terpenos/mirceno.png', alt='mirceno', width='20%' height="20%")
                  p.text-center Molecula de Mirceno.
                  br
                  p Las variedades índicas tienen un mayor contenido de mirceno comparado a las variedades sativas, lo que posiblemente estaría relacionado con el típico efecto relajante de las cepas índicas.

                  h4.text-center PINENO
                  p Tienen una amplia actividad antibiótica, incluso frente a patógenos resistentes a los antibióticos. Una de las mayores actividades terapéuticas que tienen es la de anti-inflamatorio, actuando de manera similar al mirceno. También tienen actividad como bronco-dilatador (inhalados a bajas concentraciones),  este efecto podría influir en una mayor absorción de cannabinoides en los pulmones al fumar, o al vaporizar cannabis con altos contenidos en pineno, aumentando las concentraciones plasmáticas y, como consecuencia, el efecto de los cannabinoides.
                  img.img-responsive.img-centered.img-rcorners(src='img/terpenos/pineno.png', alt='pineno', width='50%' height="50%")
                  p.text-center Moléculas de Alfa-Pineno y Beta-Pineno.
                  br  
                  h4.text-center Limoneno
                  p Estudios sugieren que el limoneno tiene efectos ansiolíticos. Se ha demostrado que la dispersión de limoneno en el ambiente ha producido la disminución de los síntomas depresivos de pacientes hospitalizados además de producir una fuerte inmunoestimulación, efectos terapéuticos en ciertas enfermedades dermatológicas y propiedades antisépticas, sobre todo contra la bacteria del acné́. Por último, se ha patentado el uso del limoneno contra el reflujo gastroesofágico.
                  img.img-responsive.img-centered.img-rcorners(src='img/terpenos/limoneno.png', alt='limoneno', width='45%' height="45%")
                  p.text-center Molecula de limoneno.
                  br
                  h4.text-center Linalool
                  p El linalool de por si tiene demostrados efectos ansiolíticos, anestésico local comparable a la lidocaína y el mentol, así como efectos analgésicos. Además, posee propiedades anticonvulsivas (inhibitorias de la actividad glutamatérgica, siendo capaz de reducir la liberación de neurotransmisores de las neuronas estimuladas por glutamato).
                  img.img-responsive.img-centered.img-rcorners(src='img/terpenos/linalool.png', alt='linalool', width='25%' height="25%")
                  p.text-center Molecula de Linalool.
                  br
                  p Con todo esto podemos argumentar que los efectos sedantes, ansiolíticos y anti-convulsivos tienen su mecanismo de acción en la modulación de los neurotransmisores glutamato y GABA, de manera similar a como actúan los cannabinoides. Así́, una planta de cannabis con THC y linalool probablemente producirá́ un gran efecto sedante y analgésico, debido a la sinergia de los dos compuestos. Mientras que una planta con CBD y linalool probablemente producirá́ un efecto sinérgico como anti-convulsivo que sería eficaz en casos de epilepsia, incluso como preventivo.​
                  br
                  h4.text-center Cariofileno
                  p El beta-cariofileno tiene propiedades anti-inflamatorias actuando a dos niveles, uno a nivel de bloqueo de la vía inflamatoria de las prostaglandinas, igual que el mirceno y el pineno, y otro como agonista del receptor cannabinoide CB2.
                  img.img-responsive.img-centered.img-rcorners(src='img/terpenos/cariofileno.png', alt='cariofileno', width='30%' height="30%")
                  p.text-center Molécula de beta-cariofileno.
                  br
                  p Se ha demostrado su acción anti-inflamatoria, analgésica y frente la dermatitis atípica. Debido a su acción sobre la vía de las prostaglandinas, el cariofileno tiene propiedades anti-coagulantes sanguíneas e, inesperadamente, tiene propiedades de protector gástrico. Entonces se podría esperar que un cannabis que contenga CBD y carofileno tendría grandes propiedades anti-inflamatorias y analgésicas, actuando sobre las prostaglandinas y el receptor cannabinoide.
                  br
                  h4.text-center Eucaliptol
                  p Cierta eficacia clínica del eucaliptol en asma, sinusitis y como anti-inflamatorio y analgésico local.​
                  img.img-responsive.img-centered.img-rcorners(src='img/terpenos/eucaliptol.png', alt='eucaliptol', width='25%' height="25%")
                  p.text-center Molecula eucaliptol.
                  br
                  p Además, se han demostrado sus propiedades immunosupresoras y anti leucemicas “in vitro”. En un estudio se encontró que el eucaliptol, el careno, el felandreno y el terpinoleno, son los terpenos practicamente exclusivos de las variedades sativa. El eucaliptol, el careno y el felandreno se encuentran en concentraciones de cerca del 5%, y el terpinoleno alrededor del 20% del total de terpenos en las variedades sativa, mientras que siempre en concentraciones inferiores al 1% en las variedades índica. Teniendo en cuenta que el eucaliptol es el único de estos que se ha demostrado por el momento que es activo en el sistema nervioso central, que es cuasi único de las variedades sativa y que las variedades sativa tienen un efecto euforizante distintivo a las variedades índica, se podría hipotetizar que la sinergia entre THC y eucaliptol ayuda al efecto activador de las variedades sativa, así como el mirceno podría ayudar al efecto hipnótico de las variedades índica.
                  button.btn.btn-primary(type='button', data-dismiss='modal')
                    i.fa.fa-times
                    |  Volver      
    #indexmodalmedicinal.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-dialog
        .modal-content
          .close-modal(data-dismiss='modal')
            .lr
              .rl
          .container
            .row
              .col-lg-8.col-lg-offset-2
                .modal-body.text-justify.text-justify
                  h4.text-center Náuseas y vómitos. 
                  p El tratamiento para los efectos secundarios asociados a la terapia anti neoplásica ha sido una de las indicaciones terapéuticas más documentadas, con alrededor de 40 estudios (con THC, nabilona, otros análogos al THC, cannabis) y la mayoría de los estudios se llevaron a cabo en los 80. El THC administrado de forma aislada necesita dosis relativamente altas. Algunas recientes investigaciones han demostrado que a bajas dosis el THC mejora la eficacia de otros fármacos antieméticos cuando se administran juntos. Existen pruebas obtenidas a partir de estudios clínicos de que los cannabinoides también son eficaces en las náuseas y vómitos secundarios a radioterapia y los que se presentan en el postoperatorio. En la medicina tradicional los cannabinoides son muy populares y a menudo se han usado para las náuseas provocadas por otras enfermedades, como el SIDA, la hepatitis y las náuseas del embarazo. 
                  br
                  h4.text-center Anorexia y caquexia. 
                  p Se ha observado una estimulación del apetito como efecto del THC cuando se ha administrado en forma fraccionada una dosis total de 5 mg. al día. Cuando es necesario, la dosis diaria se puede incrementar hasta 20 mg. En un estudio a largo plazo con 94 pacientes de SIDA el efecto estimulante del apetito del THC continuó durante varios meses, confirmándose los beneficios obtenidos en un estudio corto de 6 semanas de duración. El THC aumentó el apetito al doble en una escala analógica visual en comparación con el placebo y los pacientes tendían a mantener el peso corporal a partir de los siete meses. También se han obtenidos datos satisfactorios en cuanto a ganancia de peso en un estudio con 15 pacientes de Alzheimer's que se habían negado a comer. Además, los derivados del cannabis pueden mejorar el apetito de los enfermos con cáncer y con enfermedad pulmonar obstructiva crónica (EPOC). 
                  br
                  h4.text-center Espasticidad.
                  p En muchos ensayos clínicos con THC, nabilona y cannabis, se observó un efecto beneficioso en cuanto a la espasticidad causada por esclerosis múltiple o lesiones de médula espinal, así como una mejoría del dolor, la parestesia, los temblores y la ataxia, y en la medicina popular hay referencias de mejoría del control de esfínteres. También hay algunas evidencias anecdóticas de beneficio del cannabis en la espasticidad causada por lesiones cerebrales. 
                  br
                  h4.text-center Síndrome de Tourette y otras enfermedades del movimiento. 
                  p Hay algunos informes anecdóticos acerca del beneficio terapéutico del cannabis en el síndrome de Tourette's, en la distonía y la disquinesia tardía. El uso en el síndrome de Tourette's está actualmente empezándose a investigar en estudios clínicos y mientras muchos pacientes sólo muestran una mínima mejoría, algunos consiguen una respuesta considerable o el control total de los síntomas. En algunas pacientes de esclerosis múltiple se ha observado beneficio en la reducción de la ataxia y los temblores tras la administración de THC. A pesar de haber casos anecdóticos publicados de mejoría en el parkinsonismo y en la enfermedad de Huntington, no se han podido objetivizar dichos datos. Sin embargo, los productos derivados del cannabis pueden ser útiles en la disquinesia inducida por el tratamiento con levodopa en la enfermedad de Parkinson sin que se produzca un empeoramiento de los síntomas principales. 
                  br
                  h4.text-center Dolor. 
                  p Estudios clínicos amplios han probado las propiedades analgésicas de los derivados del cannabis. Entre las posibles indicaciones están el dolor neurológico de la esclerosis múltiple, el originado tras causar daño al plexo braquial, en la infección por VIH, la artritis reumatoidea, el cáncer, el dolor de cabeza, la dismenorrea, la inflamación crónica intestinal y las neuralgias. 
                  br
                  h4.text-center Prurito. 
                  p De acuerdo con pequeños estudios clínicos los cannabinoides, tanto por vía general como por vía tópica en pomada, disminuyen el prurito provocado por distintas causas, como por ejemplo el prurito severo que ocurre en las enfermedades hepáticas. 
                  br
                  h4.text-center Glaucoma. 
                  p En 1971, durante una investigación metodológica de los efectos sobre la salud en usuarios de cannabis, se observó que el cannabis reduce la presión incraocular. En los siguientes 12 años se llevaron a cabo un gran número de estudios con cannabis y distintos cannabinoides naturales y sintéticos sobre los efectos en el organismo humano así como en pacientes de glaucoma, observándose que el cannabis desciende la presión intraocular en un rango de 25-30%, llegando ocasionalmente hasta un 50%. Algunos cannabinoides no psicoactivos, y en menor medida, algunos constituyentes no cannabinoides de la planta de cáñamo también decrecen la presión intraocular. 
                  br
                  h4.text-center Epilepsia. 
                  p El uso en la epilepsia es también otras de las indicaciones terapéuticas clásicas del cannabis, los experimentos con animales han evidenciado el efecto antiepiléptico de algunos cannabinoides, y la actividad anticonvulsionante de la fenitoína y del diacepam se ven potenciados con el THC. Según unos pocos casos recogidos a lo largo del siglo 20, mediante el uso del cannabis, algunos epilépticos han sido capaces de controlar totalmente los síntomas. 
                  br
                  h4.text-center Asma. 
                  p Los experimentos sobre los efectos anti-asmáticos del THC o del cannabis datan principalmente de los setenta y son todos estudios rigurosos. Los efectos de un cigarro de cannabis (2% de THC) o de THC oral (15 mg) respectivamente, corresponden aproximadamente con el beneficio que se obtiene con la dosis terapéutica de un broncodilatador habitual (salbutamol, isoprenalina). 
                  br
                  h4.text-center Dependencia y síndrome de abstinencia. 
                  p Según casos registrados a lo largo de la historia y en documentos recientes, el cannabis es un buen remedio para combatir el síndrome de abstinencia causado por la dependencia a benzodiacepinas, opiáceos y alcohol. Por esta razón, algunos han hecho referencia a ella como la puerta de salida de las drogas. En este sentido y según los beneficios observados, pueden ser útiles tanto en la reducción de los síntomas físicos como del estrés que ocurre tras abandonar la droga de abuso. 
                  br
                  h4.text-center Síntomas psiquiátricos. 
                  p Se ha observado una mejoría en el humor en la depresión reactiva en algunos estudios con THC, también se ha demostrados que los cannabinoides actúan en otros síntomas y enfermedades psíquicas, como trastornos del sueño, ansiedad, enfermedad bipolar, psicosis esquizofrénica y distimia. Según algunos casos clínicos el THC es eficaz en los trastornos compulsivos graves refractarios a tratamiento convencional. Los cannabinoides también pueden reducir los síntomas del trastorno de estrés postraumático. 
                  br
                  h4.text-center Hiperactividad/TDAH. 
                  p El cannabis puede ser beneficioso en enfermos que padezcan TDAH (trastorno por déficit de atención con hiperactividad). 
                  br
                  h4.text-center Enfermedad de Alzheimer. 
                  p Estudios clínicos han demostrado que en los enfermos de Alzheimer el cannabis no solo incrementa el apetito sino que reduce las alteraciones del comportamiento y la agitación. 
                  br
                  h4.text-center Enfermedades autoinmunes, inflamatorias y alérgicas. 
                  p En una serie de síndromes dolorosos secundarios a procesos inflamatorios (por ejemplo la colitis ulcerosa y la artritis), los productos del cannabis pueden actuar no solo como analgésicos sino además con un demostrado efecto anti-inflamatorio. Por ejemplo, algunos pacientes que utilizan cannabis manifiestan necesitar menos esteroides y otros antiinflamatorios no esteroideos. Además hay algunos casos registrados de beneficio en pacientes con diversos trastornos alérgicos que se han auto medicado con cannabis. Aún no está claro el mecanismo por el cual los productos del cannabis benefician determinadas enfermedades autoinmunes. 
                  br
                  h4.text-center Miscelánea, síndromes mixtos. 
                  p Hay recogidos una serie de casos de buenos resultados obtenidos en situaciones médicas de difícil clasificación, como el hipo, la hipertensión arterial, el tinnitus, la enfermedad de Huntington, el Parkinson, el síndrome de fatiga crónica, el síndrome de las piernas inquietas, entre otras. Han sido descritas por diferentes autores cientos de posibles indicaciones para el cannabis y el THC. Un ejemplo es el de los satisfactorios resultados en el tratamiento de un caso de hipo crónico. 
                  p Los productos del cannabis muchas veces muestran muy buenos resultados en enfermedades con síntomas múltiples que entran dentro del espectro terapéutico del THC, como por ejemplo, en situaciones dolorosas de origen inflamatorio (como en la artritis), o que acompañan a espasmos musculares (como en los espasmos menstruales o en lesiones de la medula espinal) o en enfermedades en las que coinciden náuseas y anorexia con dolor, ansiedad y depresión (por ejemplo en SIDA, cáncer, hepatitis C).
                  button.btn.btn-primary(type='button', data-dismiss='modal')
                    i.fa.fa-times
                    |  Volver 
