doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='roinflames & mvelilla')
    title #{title}, Dispensario Medicinal de Cannabis
    // Bootstrap Core CSS
    link(href='vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    // Theme CSS
    link(href='stylesheets/agency.css', rel='stylesheet')
    link(href='stylesheets/style.css', rel='stylesheet')
    // Custom Fonts
    link(href='vendor/font-awesome/css/font-awesome.css', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Kaushan+Script', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700', rel='stylesheet', type='text/css')
    block content
    body#page-top.index
    //Navbar theme
    nav#mainNav.navbar.navbar-default.navbar-custom.navbar-fixed-top
      .container-fluid
        // Brand and toggle get grouped for better mobile display
        .navbar-header.page-scroll
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            |  Menu
            i.fa.fa-bars
          a.navbar-brand.page-scroll(href='/index-loggedin') #{title}
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.hidden
              a(href='#page-top')            
            li
              a.page-scroll(href='#') STOCK
            li
              a.page-scroll(href='#') RESERVA TU HORA
            li
              a.page-scroll(href='#') DECLARACIONES PÚBLICAS

          ul.nav.navbar-nav.navbar-right            
            li
              a(href='/signout')
                span.glyphicon.glyphicon-log-in
                |  DESCONÉCTATE
        // /.navbar-collapse
