extends layout-loggedin

block content     
    // Portfolio Grid Section
    section#testimonies.bg-light-gray
      .container
        .row
          .col-lg-12.text-justify
            h2.section-heading.text-center Cannabis Legal
            h3.text-center Fundamento Legal ACCI
            br
            p ACCI se fundamenta y ampara en la siguiente normativa legal y jurisprudencia:
            p En cuanto a su personalidad jurídica, ACCI (Asociación cultural del cannabis integral) es una asociación de Derecho Privado sin fines de lucro, y por tanto se encuentra regida en cuanto a su funcionamiento y administración por su Estatuto, por las normas del Título XXXIII del Libro Artículo primero de la Constitución Política de la República: 
            p Señala que las personas nacen libres e iguales en dignidad y derechos, reconoce y ampara los grupos intermedios a través de los cuales la sociedad se organiza y estructura para conseguir fines específicos, garantizando su adecuada autonomía, y señala que el Estado está al servicio de la persona humana y que su finalidad es promover el bien común, para lo cual debe contribuir a crear las condiciones sociales que permitan a todos y a cada uno de los integrantes de la comunidad nacional su mayor realización espiritual y material posible, con pleno respeto a los derechos y garantías constitucionales.            
            strong Artículo 19 N° 15 de la Constitución Política de la República: 
            p La constitución asegura a todas las personas el derecho de asociarse sin permiso previo y señala además que para gozar de personalidad jurídica, las asociaciones deberán constituirse en conformidad a la ley.
            strong Artículo 8 de la Ley 20.000: 
            p Dispone que la siembra, cultivo y cosecha de plantas de cannabis destinados al consumo personal exclusivo y próximo en el tiempo no constituye delito.
            strong Artículo 50 de la Ley 20.000: 
            p Señala que se entenderá justificado el uso, consumo, porte o tenencia de cannabis para la atención de un tratamiento médico.
            strong Carta de las Naciones Unidas:
            p Impone a los Estados la obligación de promover el respeto universal y efectivo de los derechos y libertades humanos.
            strong Pacto de Derechos económicos, sociales y culturales, suscrito por chile el 16 de Septiembre de 1989: 
            p Esta norma de derecho internacional, que se integra a nuestro ordenamiento jurídico en virtud de lo dispuesto en el artículo 5 inciso segundo de la Constitución Política de la República, reconoce que “con arreglo a la Declaración Universal de Derechos Humanos, no puede realizarse el ideal del ser humano libre, liberado del temor y de la miseria, a menos que se creen condiciones que permitan a cada persona gozar de sus derechos económicos, sociales y culturales, tanto como de sus derechos civiles y políticos”.
            p El artículo 12 del Pacto señala que “Los Estados Partes en el presente Pacto reconocen el derecho de toda persona al disfrute del más alto nivel posible de salud física y mental.”

    // jQuery
    script(src='vendor/jquery/jquery.min.js')
    // Bootstrap Core JavaScript
    script(src='vendor/bootstrap/js/bootstrap.min.js')
    // Plugin JavaScript
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js', integrity='sha384-mE6eXfrb8jxl0rzJDBRanYqgBxtJ6Unn4/1F7q4xRRyIw7Vdg9jP4ycT7x1iVsgb', crossorigin='anonymous')
    // Contact Form JavaScript
    script(src='javascripts/jqBootstrapValidation.js')
    script(src='javascripts/contact_me.js')
    // Theme JavaScript
    script(src='javascripts/agency.min.js')
