extends layout-auth

block content     
    // Portfolio Grid Section
    section#testimonies.bg-light-gray
      .container
        .row
          .col-lg-12.text-justify
            h2.section-heading.text-center Cannabis Medicinal.
            h3.text-center Efectos generales. 
            br
            p Los efectos medicinales y/o farmacológicos comprobados del cannabis son variados y diversos, y dependen básicamente del contenido y tipo de cannabinoides y terpenos presentes en la planta. Así como de la dosis consumida. 
            p Pero, de forma general y resumida, el uso de cannabis y por tanto la activación de los receptores cannabinoides dará como respuesta los siguientes efectos: 
            ul
              li Sensación de euforia, relajación y sedación. 
              li Alteraciones de la percepción temporal (sobreestimación del tiempo transcurrido y de la memoria reciente). 
              li Actividad analgésica y antiinflamatoria. 
              li Actividad orexígena (estimulante del apetito) y antiemética (reducción de náuseas y vómitos.) 
              li Acciones sobre el tono muscular y la coordinación motora (ataxia, debilidad muscular). 
              li Disminución de la presión intraocular. 
              li Hipotermia. 
              li Efectos cardiovasculares (hipotensión y taquicardia). 
              li Efectos neuroendocrínos (disminución en la liberación de distintas hormonas sexuales, e incrementos en la liberación de hormonas relacionadas con la respuesta al estrés). 
              li Efectos inmunomoduladores (inmunoestimulación a dosis bajas e inmunsosupresión a dosis altas). 
              li Efectos antiproliferativos (impide el crecimiento de algunos tumores). 
              li Enfermedades y otras patologías. 

            p Como las propiedades medicinales de la planta Cannabis son tan diversas, a continuación dejamos una lista de enfermedades y otras patologías en las que el cannabis y los cannabinoides están recomendados como tratamiento potencial o se ha visto que tienen algún tipo de efecto beneficioso. Esto quiere decir que, hasta el día de hoy no existen investigaciones concluyentes sobre el beneficio de su uso como tratamiento, pero si existen diversas investigaciones que demuestran su potencial como terapia. Por tanto, es importante dejar en claro que falta aún investigación científica para poder concluir que el cannabis cura enfermedades, por lo que su uso está sujeto a la libre elección de quien quiera probar esta terapia. 
            br
            h4.text-center Náuseas y vómitos. 
            p El tratamiento para los efectos secundarios asociados a la terapia anti neoplásica ha sido una de las indicaciones terapéuticas más documentadas, con alrededor de 40 estudios (con THC, nabilona, otros análogos al THC, cannabis) y la mayoría de los estudios se llevaron a cabo en los 80. El THC administrado de forma aislada necesita dosis relativamente altas. Algunas recientes investigaciones han demostrado que a bajas dosis el THC mejora la eficacia de otros fármacos antieméticos cuando se administran juntos. Existen pruebas obtenidas a partir de estudios clínicos de que los cannabinoides también son eficaces en las náuseas y vómitos secundarios a radioterapia y los que se presentan en el postoperatorio. En la medicina tradicional los cannabinoides son muy populares y a menudo se han usado para las náuseas provocadas por otras enfermedades, como el SIDA, la hepatitis y las náuseas del embarazo. 
            br
            h4.text-center Anorexia y caquexia. 
            p Se ha observado una estimulación del apetito como efecto del THC cuando se ha administrado en forma fraccionada una dosis total de 5 mg. al día. Cuando es necesario, la dosis diaria se puede incrementar hasta 20 mg. En un estudio a largo plazo con 94 pacientes de SIDA el efecto estimulante del apetito del THC continuó durante varios meses, confirmándose los beneficios obtenidos en un estudio corto de 6 semanas de duración. El THC aumentó el apetito al doble en una escala analógica visual en comparación con el placebo y los pacientes tendían a mantener el peso corporal a partir de los siete meses. También se han obtenidos datos satisfactorios en cuanto a ganancia de peso en un estudio con 15 pacientes de Alzheimer's que se habían negado a comer. Además, los derivados del cannabis pueden mejorar el apetito de los enfermos con cáncer y con enfermedad pulmonar obstructiva crónica (EPOC). 
            br
            h4.text-center Espasticidad.
            p En muchos ensayos clínicos con THC, nabilona y cannabis, se observó un efecto beneficioso en cuanto a la espasticidad causada por esclerosis múltiple o lesiones de médula espinal, así como una mejoría del dolor, la parestesia, los temblores y la ataxia, y en la medicina popular hay referencias de mejoría del control de esfínteres. También hay algunas evidencias anecdóticas de beneficio del cannabis en la espasticidad causada por lesiones cerebrales. 
            br
            h4.text-center Síndrome de Tourette y otras enfermedades del movimiento. 
            p Hay algunos informes anecdóticos acerca del beneficio terapéutico del cannabis en el síndrome de Tourette's, en la distonía y la disquinesia tardía. El uso en el síndrome de Tourette's está actualmente empezándose a investigar en estudios clínicos y mientras muchos pacientes sólo muestran una mínima mejoría, algunos consiguen una respuesta considerable o el control total de los síntomas. En algunas pacientes de esclerosis múltiple se ha observado beneficio en la reducción de la ataxia y los temblores tras la administración de THC. A pesar de haber casos anecdóticos publicados de mejoría en el parkinsonismo y en la enfermedad de Huntington, no se han podido objetivizar dichos datos. Sin embargo, los productos derivados del cannabis pueden ser útiles en la disquinesia inducida por el tratamiento con levodopa en la enfermedad de Parkinson sin que se produzca un empeoramiento de los síntomas principales. 
            br
            h4.text-center Dolor. 
            p Estudios clínicos amplios han probado las propiedades analgésicas de los derivados del cannabis. Entre las posibles indicaciones están el dolor neurológico de la esclerosis múltiple, el originado tras causar daño al plexo braquial, en la infección por VIH, la artritis reumatoidea, el cáncer, el dolor de cabeza, la dismenorrea, la inflamación crónica intestinal y las neuralgias. 
            br
            h4.text-center Prurito. 
            p De acuerdo con pequeños estudios clínicos los cannabinoides, tanto por vía general como por vía tópica en pomada, disminuyen el prurito provocado por distintas causas, como por ejemplo el prurito severo que ocurre en las enfermedades hepáticas. 
            br
            h4.text-center Glaucoma. 
            p En 1971, durante una investigación metodológica de los efectos sobre la salud en usuarios de cannabis, se observó que el cannabis reduce la presión incraocular. En los siguientes 12 años se llevaron a cabo un gran número de estudios con cannabis y distintos cannabinoides naturales y sintéticos sobre los efectos en el organismo humano así como en pacientes de glaucoma, observándose que el cannabis desciende la presión intraocular en un rango de 25-30%, llegando ocasionalmente hasta un 50%. Algunos cannabinoides no psicoactivos, y en menor medida, algunos constituyentes no cannabinoides de la planta de cáñamo también decrecen la presión intraocular. 
            br
            h4.text-center Epilepsia. 
            p El uso en la epilepsia es también otras de las indicaciones terapéuticas clásicas del cannabis, los experimentos con animales han evidenciado el efecto antiepiléptico de algunos cannabinoides, y la actividad anticonvulsionante de la fenitoína y del diacepam se ven potenciados con el THC. Según unos pocos casos recogidos a lo largo del siglo 20, mediante el uso del cannabis, algunos epilépticos han sido capaces de controlar totalmente los síntomas. 
            br
            h4.text-center Asma. 
            p Los experimentos sobre los efectos anti-asmáticos del THC o del cannabis datan principalmente de los setenta y son todos estudios rigurosos. Los efectos de un cigarro de cannabis (2% de THC) o de THC oral (15 mg) respectivamente, corresponden aproximadamente con el beneficio que se obtiene con la dosis terapéutica de un broncodilatador habitual (salbutamol, isoprenalina). 
            br
            h4.text-center Dependencia y síndrome de abstinencia. 
            p Según casos registrados a lo largo de la historia y en documentos recientes, el cannabis es un buen remedio para combatir el síndrome de abstinencia causado por la dependencia a benzodiacepinas, opiáceos y alcohol. Por esta razón, algunos han hecho referencia a ella como la puerta de salida de las drogas. En este sentido y según los beneficios observados, pueden ser útiles tanto en la reducción de los síntomas físicos como del estrés que ocurre tras abandonar la droga de abuso. 
            br
            h4.text-center Síntomas psiquiátricos. 
            p Se ha observado una mejoría en el humor en la depresión reactiva en algunos estudios con THC, también se ha demostrados que los cannabinoides actúan en otros síntomas y enfermedades psíquicas, como trastornos del sueño, ansiedad, enfermedad bipolar, psicosis esquizofrénica y distimia. Según algunos casos clínicos el THC es eficaz en los trastornos compulsivos graves refractarios a tratamiento convencional. Los cannabinoides también pueden reducir los síntomas del trastorno de estrés postraumático. 
            br
            h4.text-center Hiperactividad/TDAH. 
            p El cannabis puede ser beneficioso en enfermos que padezcan TDAH (trastorno por déficit de atención con hiperactividad). 
            br
            h4.text-center Enfermedad de Alzheimer. 
            p Estudios clínicos han demostrado que en los enfermos de Alzheimer el cannabis no solo incrementa el apetito sino que reduce las alteraciones del comportamiento y la agitación. 
            br
            h4.text-center Enfermedades autoinmunes, inflamatorias y alérgicas. 
            p En una serie de síndromes dolorosos secundarios a procesos inflamatorios (por ejemplo la colitis ulcerosa y la artritis), los productos del cannabis pueden actuar no solo como analgésicos sino además con un demostrado efecto anti-inflamatorio. Por ejemplo, algunos pacientes que utilizan cannabis manifiestan necesitar menos esteroides y otros antiinflamatorios no esteroideos. Además hay algunos casos registrados de beneficio en pacientes con diversos trastornos alérgicos que se han auto medicado con cannabis. Aún no está claro el mecanismo por el cual los productos del cannabis benefician determinadas enfermedades autoinmunes. 
            br
            h4.text-center Miscelánea, síndromes mixtos. 
            p Hay recogidos una serie de casos de buenos resultados obtenidos en situaciones médicas de difícil clasificación, como el hipo, la hipertensión arterial, el tinnitus, la enfermedad de Huntington, el Parkinson, el síndrome de fatiga crónica, el síndrome de las piernas inquietas, entre otras. Han sido descritas por diferentes autores cientos de posibles indicaciones para el cannabis y el THC. Un ejemplo es el de los satisfactorios resultados en el tratamiento de un caso de hipo crónico. 
            p Los productos del cannabis muchas veces muestran muy buenos resultados en enfermedades con síntomas múltiples que entran dentro del espectro terapéutico del THC, como por ejemplo, en situaciones dolorosas de origen inflamatorio (como en la artritis), o que acompañan a espasmos musculares (como en los espasmos menstruales o en lesiones de la medula espinal) o en enfermedades en las que coinciden náuseas y anorexia con dolor, ansiedad y depresión (por ejemplo en SIDA, cáncer, hepatitis C).
