extends layout

block content
    .section
    main
      center
        .section
        .container
          .z-depth-1.grey.lighten-4.row(style='display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;')
            h5.orange-text Autenticación de Usuario
            form(class='form-signin', action='/login', method='post')
                input#email.validate(type='text', name='username', class='form-control', placeholder='Email Usuario',required)
                input#password.validate(type='password', name='password', class='form-control nomargin', placeholder='Password', required)
                br
                button(class='btn btn-lg btn-primary btn-block', type='submit', name='btn_login') Ingresar
                label(style='float: right;')
                a.light-blue-text(href='#!')
                  b Recuperar contraseña
                span.clearfix
                br
        .container
          a(href='/index', class='text-center') Volver

        #message
        if message
        h1.text-center.error-message #{message}

        // jQuery
        script(src='vendor/jquery/jquery.min.js')
