extends layout-loggedin

block content     
    // Portfolio Grid Section
    section#sist-endo.bg-light-gray
      .container
        .row
          .col-lg-12.text-justify
            h2.section-heading.text-center ¿Que es el Sistema endocannabinoide?
            br
            p Es un complejo sistema que involucra a diversos ligandos endógenos (endocannabinoides) y sus receptores específicos (CB1 y CB2). Y que modula diversas funciones fisiológicas de nuestro organismo, que incluyen la percepción del dolor, la inflamación, la toxicidad y el traumatismo neuronal, el aprendizaje y la memoria, el control de las emociones, el control del humor, gestión del estrés, el apetito, la ingesta de alimentos, la homeostasis energética, así como en la mediación de diferentes procesos a nivel neuronal, cardiovascular, digestivo, reproductivo e inmunológico. Es tal vez, uno de los sistemas más importante relacionado a la regulación y mantenimiento de la homeostasis de nuestro cuerpo, sosteniendo una condición interna estable a pesar de las fluctuaciones externas. 
            p Para que este sistema funcione, es necesario que los receptores sean activados por los cannabinoides, de manera muy similar a una llave y su cerradura, siendo la llave el cannabinoide y el receptor la cerradura. Su activación produce una serie de cambios dentro de las células que resultan en las acciones finales del sistema endocannabinoide sobre los procesos fisiológicos del cuerpo.
            img.img-responsive.img-centered.img-rcorners(src='img/sistEndo/sistendo.png', alt='Sistema endocannabinoide', width='30%' height="30%")
            p.text-center Sistema Endocannabinoide.
            br
            h3.text-center Receptores cannabinoides. 
            br
            p Estos receptores son específicos de membrana, es decir, específicos para este tipo de sustancia y se encuentran en la membrana celular, son de naturaleza protéica y pertenecen a la familia de receptores acoplados a proteínas G. Los dos principales receptores que conforman el sistema son los receptores CB1 y CB2, Ambos son proteínas transmembrana capaces de captar una señal extracelular y transmitirla al interior de la célula, para producir el cambio necesario y modular las funciones fisiológicas. 
            p Los endocannabinoides y sus receptores se encuentran en todo el cuerpo: en el cerebro, los órganos, los tejidos conectivos, glándulas y células inmunes. Los receptores CB1 son los receptores metabotrópicos que se encuentran con mayor abundancia en el cerebro y su distribución ha sido muy caracterizada en humanos. Se expresan de forma elevada en el hipocampo, los ganglios basales, el córtex y el cerebelo pero también en varios órganos periféricos como hígado y pulmones. La distribución de los receptores CB2 es bastante distinta y se encuentra principalmente en las células del sistema inmunitario, también hay presencia de este receptor en fibras nerviosas de la piel, en células óseas, hepáticas y del páncreas. También se ha demostrado la presencia de receptores CB2 en el sistema nervioso central, en astrocitos, células microgliales y neuronas del tallo cerebral.
            h3.text-center Distribución receptores CB1 y CB2. 
            br
            p Estos receptores son los que también se activan por acción de los cannabinoides presentes en la planta Cannabis sativa (fitocannabinoides), produciendo los efectos psicoactivos y de regulación fisiológica con potencial médico, que se dan tras el uso de marihuana.
            img.img-responsive.img-centered.img-rcorners(src='img/sistEndo/distribucion.png', alt='Distribución', width='50%' height="50%")
            p.text-center Sistema Endocannabinoide.
    // jQuery
    script(src='vendor/jquery/jquery.min.js')
    // Bootstrap Core JavaScript
    script(src='vendor/bootstrap/js/bootstrap.min.js')
    // Plugin JavaScript
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js', integrity='sha384-mE6eXfrb8jxl0rzJDBRanYqgBxtJ6Unn4/1F7q4xRRyIw7Vdg9jP4ycT7x1iVsgb', crossorigin='anonymous')
    // Contact Form JavaScript
    script(src='javascripts/jqBootstrapValidation.js')
    script(src='javascripts/contact_me.js')
    // Theme JavaScript
    script(src='javascripts/agency.min.js')
