extends layout

block content
    body#page-top.index
    //Navbar theme

    nav#mainNav.navbar.navbar-default.navbar-custom.navbar-fixed-top
      .container-fluid
        // Brand and toggle get grouped for better mobile display
        .navbar-header.page-scroll
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            |  Menu
            i.fa.fa-bars
          a.navbar-brand.page-scroll(href='/') DM-FASIMC
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.hidden
              a(href='#page-top')
            li
              a.page-scroll(href='/#benefits') BENEFICIOS
            li
              a.page-scroll(href='/#testimonies') TESTIMONIOS
            li
              a.page-scroll(href='/#contact') CONTACTO

          ul.nav.navbar-nav.navbar-right
            li.dropdown
              a.dropdown-toggle(data-toggle='dropdown', href='#')
                | CANNABIS
                span.caret
                  ul.dropdown-menu
                    li
                      a(href='/descripcion') DESCRIPCIÓN
                    li
                      a(href='/especies') ESPECIES
                    li
                      a(href='#') TERPENOS
                    li
                      a(href='/cannabinoides') CANNABINOIDES
            li
              a.page-scroll(href='/tratamiento') TRATAMIENTO
            li
              a(href='#')
                span.glyphicon.glyphicon-user
                |  REGISTRO
            li
              a(href='#')
                span.glyphicon.glyphicon-log-in
                |  INGRESA

    // Portfolio Grid Section
    section#testimonies.bg-light-gray
      .container
        .row
          .col-lg-12.text-justify
            h2.section-heading.text-center DESCRIPCIÓN
            br
            p Los terpenos son una diversa clase de compuestos orgánicos aromáticos, son el principal constituyente de los aceites esenciales de algunas plantas y flores, dan también el olor y sabor a las plantas de Cannabis sativa.
            p Los terpenos de las plantas son extensamente usados por sus cualidades aromáticas y terapéuticas. Juegan un rol importante en la medicina tradicional y en los remedios herbolarios, y actualmente se están investigando sus  efectos antibióticos y otros usos farmacéuticos.
            p En la planta Cannabis sativa es posible encontrar entre 100 a 130 terpenos dependiendo de la variedad. Trabajando en conjunto con los cannabinoides aumentan los efectos medicinales del cannabis.
            p La planta produce cannabinoides a través de una complicada serie de reacciones químicas en las que se cree que están implicados los terpenos como “elemento constitutivo”. Los cannabinoides son conocidos como compuestos terpenofenólicos, ya que se componen de bloques de terpeno unidos a grupos de fenol; como los terpenos son los precursores de los cannabinoides, una gran cantidad de terpenos es generalmente signo de altos niveles de cannabinoides.
            br
            h4.text-center MIRCENO
            p El mirceno actúa como anti-inflamatorio interfiriendo en la vía de señalización inflamatoria de las prostaglandinas.
            p Su propiedad sedante están muy demostradas en modelos de laboratorio, con efectos hipnóticos, analgésicos y de relajante muscular. Se ha demostrado también que el mirceno altera la barrera hematoencefálica, favoreciendo la entrada al cerebro de los cannabinoides y produciendo un aumento en los efectos.
            p
             strong Imagen Tomillo
             br
             strong Imagen Molecula de mirceno
            br
            p Las variedades índicas tienen un mayor contenido de mirceno comparado a las variedades sativas, lo que posiblemente estaría relacionado con el típico efecto relajante de las cepas índicas.

            h4.text-center PINENO
            p Tienen una amplia actividad antibiótica, incluso frente a patógenos resistentes a los antibióticos. Una de las mayores actividades terapéuticas que tienen es la de anti-inflamatorio, actuando de manera similar al mirceno. También tienen actividad como bronco-dilatador (inhalados a bajas concentraciones),  este efecto podría influir en una mayor absorción de cannabinoides en los pulmones al fumar, o al vaporizar cannabis con altos contenidos en pineno, aumentando las concentraciones plasmáticas y, como consecuencia, el efecto de los cannabinoides.
            p
              strong Moléculas de alfa-pineno y beta-pineno.
              br
              strong Pino

            h4.text-center Limoneno
            p Estudios sugieren que el limoneno tiene efectos ansiolíticos. Se ha demostrado que la dispersión de limoneno en el ambiente ha producido la disminución de los síntomas depresivos de pacientes hospitalizados además de producir una fuerte inmunoestimulación, efectos terapéuticos en ciertas enfermedades dermatológicas y propiedades antisépticas, sobre todo contra la bacteria del acné́. Por último, se ha patentado el uso del limoneno contra el reflujo gastroesofágico.
            p
              strong Molecula de limoneno

            h4.text-center Linalool
            p El linalool de por si tiene demostrados efectos ansiolíticos, anestésico local comparable a la lidocaína y el mentol, así como efectos analgésicos. Además, posee propiedades anticonvulsivas (inhibitorias de la actividad glutamatérgica, siendo capaz de reducir la liberación de neurotransmisores de las neuronas estimuladas por glutamato).
            p
              strong Lavanda
              br
              strong Molecula de Linalool.
            p Con todo esto podemos argumentar que los efectos sedantes, ansiolíticos y anti-convulsivos tienen su mecanismo de acción en la modulación de los neurotransmisores glutamato y GABA, de manera similar a como actúan los cannabinoides. Así́, una planta de cannabis con THC y linalool probablemente producirá́ un gran efecto sedante y analgésico, debido a la sinergia de los dos compuestos. Mientras que una planta con CBD y linalool probablemente producirá́ un efecto sinérgico como anti-convulsivo que sería eficaz en casos de epilepsia, incluso como preventivo.​

            h4.text-center Cariofileno
            p El beta-cariofileno tiene propiedades anti-inflamatorias actuando a dos niveles, uno a nivel de bloqueo de la vía inflamatoria de las prostaglandinas, igual que el mirceno y el pineno, y otro como agonista del receptor cannabinoide CB2.
            p
              strong Pimienta
              br
              strong Molécula de beta-cariofileno.
            p Se ha demostrado su acción anti-inflamatoria, analgésica y frente la dermatitis atípica. Debido a su acción sobre la vía de las prostaglandinas, el cariofileno tiene propiedades anti-coagulantes sanguíneas e, inesperadamente, tiene propiedades de protector gástrico. Entonces se podría esperar que un cannabis que contenga CBD y carofileno tendría grandes propiedades anti-inflamatorias y analgésicas, actuando sobre las prostaglandinas y el receptor cannabinoide.
            br

            h4.text-center Eucaliptol
            p Cierta eficacia clínica del eucaliptol en asma, sinusitis y como anti-inflamatorio y analgésico local.​
            p
              strong Eucalipto
              br
              strong Molecula eucaliptol
            p Además, se han demostrado sus propiedades immunosupresoras y anti leucemicas “in vitro”. En un estudio se encontró que el eucaliptol, el careno, el felandreno y el terpinoleno, son los terpenos practicamente exclusivos de las variedades sativa. El eucaliptol, el careno y el felandreno se encuentran en concentraciones de cerca del 5%, y el terpinoleno alrededor del 20% del total de terpenos en las variedades sativa, mientras que siempre en concentraciones inferiores al 1% en las variedades índica. Teniendo en cuenta que el eucaliptol es el único de estos que se ha demostrado por el momento que es activo en el sistema nervioso central, que es cuasi único de las variedades sativa y que las variedades sativa tienen un efecto euforizante distintivo a las variedades índica, se podría hipotetizar que la sinergia entre THC y eucaliptol ayuda al efecto activador de las variedades sativa, así como el mirceno podría ayudar al efecto hipnótico de las variedades índica.

    // jQuery
    script(src='vendor/jquery/jquery.min.js')
    // Bootstrap Core JavaScript
    script(src='vendor/bootstrap/js/bootstrap.min.js')
    // Plugin JavaScript
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js', integrity='sha384-mE6eXfrb8jxl0rzJDBRanYqgBxtJ6Unn4/1F7q4xRRyIw7Vdg9jP4ycT7x1iVsgb', crossorigin='anonymous')
    // Contact Form JavaScript
    script(src='javascripts/jqBootstrapValidation.js')
    script(src='javascripts/contact_me.js')
    // Theme JavaScript
    script(src='javascripts/agency.min.js')
