extends layout-auth

block content     
    // Portfolio Grid Section
    section#tratamiento.bg-light-gray
      .container
        .row
          .col-lg-12.text-justify
            h2.section-heading.text-center TRATAMIENTO.
            br
            p Trabajamos con una gran cantidad de cepas desarrolladas por nuestros BREEDER'S, los cuales tienen más de 10 años de experiencia, seleccionado y estabilizando sus propias genéticas.
            p Flores cosechadas en el tiempo óptimo lo cual garantiza una cantidad y calidad de cannabinoides y terpenos.
            p Variedades como Haze, Afghan ,Uzbekistán , entre otras.
            p Solo trabajamos con variedades regulares.
            br
        .row
          .col-lg-12
            img.img-centered.img-responsive.img-rcorners(src='img/tratamiento.png', alt='tratamiento', width='500px')
    
