doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title DM-FASIMC, Dispensario Medicinal de Cannabis
    // Bootstrap Core CSS
    link(href='vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    // Custom Fonts
    link(href='vendor/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Kaushan+Script', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700', rel='stylesheet', type='text/css')
    // Theme CSS
    link(href='stylesheets/agency.css', rel='stylesheet')
    body#page-top.index
    //Navbar theme

    nav#mainNav.navbar.navbar-default.navbar-custom.navbar-fixed-top
      .container-fluid
        // Brand and toggle get grouped for better mobile display
        .navbar-header.page-scroll
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            |  Menu
            i.fa.fa-bars
          a.navbar-brand.page-scroll(href='/fasimc') DM-FASIMC
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.hidden
              a(href='#page-top')
            li
              a.page-scroll(href='/fasimc') BENEFICIOS
            li
              a.page-scroll(href='/fasimc') TESTIMONIOS
            li
              a.page-scroll(href='/fasimc') CONTACTO

          ul.nav.navbar-nav.navbar-right
            li.dropdown
              a.dropdown-toggle(data-toggle='dropdown', href='#')
                | CANNABIS
                span.caret
                  ul.dropdown-menu
                    li
                      a(href='/descripcion') DESCRIPCIÓN
                    li
                      a(href='/especies') ESPECIES
                    li
                      a(href='/terpenos') TERPENOS
                    li
                      a(href='/cannabinoides') CANNABINOIDES
            li
              a.page-scroll(href='#') TRATAMIENTO
            li
              a(href='#')
                span.glyphicon.glyphicon-user
                |  REGISTRO
            li
              a(href='#')
                span.glyphicon.glyphicon-log-in
                |  INGRESA

    // Portfolio Grid Section
    section#testimonies.bg-light-gray
      .container
        .row
          .col-lg-12.text-justify
            h2.section-heading.text-center TRATAMIENTO
            br
            p Trabajamos con una gran cantidad de cepas desarrolladas por nuestros BREEDER'S, los cuales tienen más de 10 años de experiencia, seleccionado y estabilizando sus propias genéticas.
            p Flores cosechadas en el tiempo óptimo lo cual garantiza una cantidad y calidad de cannabinoides y terpenos.
            p Variedades como Haze, Afghan ,Uzbekistán , entre otras.
            p Solo trabajamos con variedades regulares.
            br
        .row
          .col-lg-12
            img.img-centered.img-responsive.img-circle(src='img/tratamiento.png', alt='tratamiento', width='400px')
    // jQuery
    script(src='vendor/jquery/jquery.min.js')
    // Bootstrap Core JavaScript
    script(src='vendor/bootstrap/js/bootstrap.min.js')
    // Plugin JavaScript
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js', integrity='sha384-mE6eXfrb8jxl0rzJDBRanYqgBxtJ6Unn4/1F7q4xRRyIw7Vdg9jP4ycT7x1iVsgb', crossorigin='anonymous')
    // Contact Form JavaScript
    script(src='javascripts/jqBootstrapValidation.js')
    script(src='javascripts/contact_me.js')
    // Theme JavaScript
    script(src='javascripts/agency.min.js')
