#rcorners {
   border-radius: 25px;
   background:#FFFFFF;
   opacity: 0.5;
   position:relative;
   width: auto;
}
.centrado {
    margin: 0px;
    width: auto;
    border: 3px solid #73AD21;
    padding: 10px;
    color: #8B0000;
}
.img-rcorners {
   border-radius: 25px;
   position:relative;
   margin: auto;
}
.text-center {
    margin: auto;
}
.transparent{
  background:rgba(255,255,255,0.5);
}
.onway{
  color: red;
}
.half-size {
  height: 400px;
  weight: 400px;
}
.quarter-size {
  height: 250px;
  weight: 250px;
}
.image-rotation {
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 30s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
